@media (max-width: 602px) {
    .container {
        flex-direction: column;
    }

    .cardsField {
        width: 100vw;
    }

    .imgCards {
        padding: 0px 8px;
    }

    .leftSide {
        display: none;
    }

    .underBar {
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
}

@media (max-width: 690px) {
    .congrats {
        width: 270px;
    }
}

@media (max-width: 860px) {

    .btn-reset {
        left: 10px;
    }

    .sideBar,
    .leftSide {
        width: 160px;
    }
}

@media (max-width: 995px) {
    .cardsField {
        padding: 20px 0px;
        gap: 20px;
    }

    .imgCards {
        padding-bottom: 20px;
    }

}